<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,500;0,700;1,300;1,400&display=swap" rel="stylesheet">
    <link rel="preload" href="fonts/ArianaVioleta.woff2" as="font" type="font/woff2" crossorigin>
    <title>Document</title>
</head>
<body>
    <nav>
        <h2>Header file 1</h2>
        <a href="https://www.facebook.com"><i class="fa-brands fa-facebook-f"></i></a>
        <a href="https://www.twitter.com"><i class="fa-brands fa-twitter"></i></a>
        <a href="https://www.google.com"><i class="fa-brands fa-google-plus-g"></i></a> 
        <a href="#"><i class="fa fa-fw fa-search"></i></a>
        <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
    </nav>
</body>
</html>
